.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 5em;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 15px;
  font-weight: 400;
  color: hsl(236, 13%, 42%);
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: hsl(5, 85%, 63%);
}
.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 800px) {
  .overlay {
    position: fixed;
    translate: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .nav-elements {
    position: fixed;
    right: 0;
    top: 0px;
    width: 250px;
    height: 100%;
    background-color: white;
    overflow: hidden;
    transform: translateX(250px);
    transition: all 0.3s ease-in;
  }

  .nav-elements.active {
    transform: translateX(0);
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    padding-left: 25px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 28px;
  }

  .nav-elements ul li a {
    font-size: 16px;
    color: hsl(240, 100%, 5%);
  }
}
